.circle-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background: linear-gradient(orange, white);
    
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-position 0.5s, transform 0.3s ease-in-out;
}

.circle-button:hover {
    transform: scale(1.1);
}

.button-icon {
    padding: 0.125rem;
    width: 3.2rem;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10000000;
}

.custom-btn-app {
    border-radius: 25px;
    background-color: orange;
    border: none;
}

.custom-btn-app:hover,
.custom-btn-app:focus,
.custom-btn-app:active {
    background-color: #eca572;
    border: #000;
    outline: none;
    /* Remove default outline */
    box-shadow: none;
    /* Remove default box-shadow */
}

.custom-btn-cancel {
    border-radius: 25px;
    border: 1px solid #e28848;

}

.custom-btn-cancel:hover,
.custom-btn-cancel:active,
.custom-btn-cancel:focus {
    box-shadow: none;

}

@media (max-width: 576px) {
    .modal-dialog {
        margin: 2rem;
    }
    .fixed-bottom-right {
        position: fixed;
        bottom: 18vh;
        right: 30px;
        z-index: 10000000;
    }

    
}

@media screen and (min-width:577px){
    .circle-button{
        width:3.2rem;
        height:3.2rem;
    }
    .button-icon{
        width:2.5rem;
    }
}